---
layout: page
permalink: test.html
sidebar: default
---

<h1>Tests</h1>

{% for result in site.data.results %}
    <h2>{{result[0] | capitalize }}</h2>
    {% for stat in result[1] %} 
        <!-- begin test -->
        <h3>{{stat.title | capitalize }}</h3>
        {{stat.code}}

        <div aria-hidden="true">
            <h5>Code</h5>
{% highlight html linenos codehilite %}
{{stat.code}}
{% endhighlight %}

            <!--
            {% for api in stat.APIs %}
                <h4>{{ api[0] }}</h4>
                {% for browser in api[1].browsers %}
                <pre>{{ browser | jsonify }}</pre>
                {% endfor %}
            {% endfor %}
            -->

            {% include custom/screen_reader_result.liquid %}
        </div>
        <!-- end test -->
    {% endfor %}
{% endfor %}
